body {
    background-image: url('../Images/hotel-bell-customer-service-ss-1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-inverse {
    background: rgba(199, 191, 132, 0.30);
}

.navbar a {
    color: rgba(0, 0, 0, 0.80) !important;
    font-family: 'Indie Flower', cursive;
}

.blue-button {
    background-color: rgb(0, 122, 204) !important;
    color: #fff !important;
    font-family: 'Indie Flower', cursive;
    font-size:120%;
}

    .navbar a:hover {
        background-color: rgb(199, 191, 132) !important;
    }

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(199, 191, 132);
}

.right-nav {
    width: 60% !important;
}

.blue-icon {
    color: rgb(0, 122, 204);
    font-size: 150%;
}

.intro {
    margin-top: 10%;
    margin-left: 30%;
    height: 50%;
    width: 30%;
}

    .intro .inner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        max-width: none;
    }

.content {
    margin: 0 auto;
    text-align: center;
}

    .content h1 {
        font-family: 'Indie Flower', cursive;
        color: #d9a367;
        font-size: 1000%;
    }

.btnRes {
    border-radius: 9px;
    font-family: 'Indie Flower', cursive;
    color: rgb(0, 122, 204);
    font-size: 200%;
    padding: 10px 20px;
    border: solid rgb(0, 122, 204) 3px;
    text-transform: uppercase;
    text-decoration: none;
}

    .btnRes:hover {
        color: #FFF;
        border: solid #FFF 3px;
    }

.form-div-bg{
    background-color:rgba(252, 248, 227, 0.20)
}

.form-btn{
    background-color:rgb(0, 122, 204);
    color:white;

}


@media screen and (max-width:600 px) {
    .intro {
        margin-top: 5%;
        margin-left: 15%;
        height: 25%;
        width: 15%;
    }

    .content h1 {
        font-size: 300%;
    }

    .btnRes {
        font-size: 75%;
        padding: 7px 15px;
    }
}

@media screen and (max-width:300 px) {
    .intro {
        margin-top: 2%;
        margin-left: 10%;
        height: 20%;
        width: 10%;
    }

    .content h1 {
        font-size: 200%;
    }

    .btnRes {
        font-size: 50%;
        padding: 5px 10px;
    }
}
